.category{
    display: flex;
    align-items: center;
}
.category__right{
    display: flex;
    flex-direction: column;
    margin: 20px 30px 20px 70px;
}
.category__middle{
    display: flex;
    flex: 1;
}
.category__left{
    display: flex;
    margin-right: 50px;
    padding: 20px;
    text-transform: inherit;
}
.category__left > button{
    background-color:#EFF8EC ;
    color:#88CC74 ;
    text-transform: inherit;
    font-weight: bold;
}
.category__left >button:hover{
    background-color:#41A124;
    color: white;
}
