.container{
    display: flex;
}

.container__left{
    display: flex;
    align-items: center !important;
    margin-right: 30px !important;

}
.call__button{
    background-color:  #41A124;
    border: none;
    color: white;
    outline-width: 0;
    overflow-y: scroll hidden;
    position: fixed;
}
.container__left > button:hover{
    background-color: lightgray;
}